<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="layout/main.html">

<div layout:fragment="frag">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        + <label th:text="#{button.newfolder}"></label>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/addfolder}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Folder</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label>FOLDER NAME</label>
                        <input type="text" name="name" placeholder="Folder Name" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Folder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="card" th:each="folder:${folders}">
            <div class="card-header">

            </div>
            <div class="card-body">
                <h5 class="card-title"  th:text="${folder.name}"></h5>
                <a th:href="@{'/details/'+${folder.id}}" class="btn btn-primary"  th:text="#{button.details}"></a>
            </div>

        </div>  <br>
    </div>
</div>
</html>